

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #fff;
}

.footer-contato li {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}

.footer-contato a {
  color: #fff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

.footer-contato h3::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: -50px;
  top: -7px;
}

.footer-contato .email::before {
  background: url("../Img/email.svg") no-repeat center center;
}

.footer-contato .linkedin::before {
  background: url("../Img/linkedin.svg") no-repeat center center;
}

.footer-contato .github::before {
  background: url("../Img/Vector.svg") no-repeat center center;
}


@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-contato li{
    font-size: 1rem;
  }
  .footer-contato h3::before {
    display: none;
  }
  
}
