.header {
  /* serve para da tamanho ao site para se estiver sendo usado em um monitor muito maior ele não crescer */
  max-width: 1200px;
  /* espaço entre as bordas */
  padding: 40px 20px;
  /* serve para sempre alinhar o site todo ao meio independete do tamnho do monitor */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
  /* colocando padding para aumentar a area de contato do click */
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

.header-menu a:hover {
  color: #8F8F8F;
}

.header-titulo a {
  text-decoration: none;
  color: #141414;
}

.header-titulo a:hover {
  color: #8F8F8F;
}

@media (max-width: 800px) {
  .header {
    padding: 20px;
  }
  .header-menu {
    display: none;
  }
}
